severity = brutal
verbose = 8
exclude = PodMinimumVersion ProhibitThreeArgumentOpen RequireEmacsFileVariables RequirePodAtEnd ProhibitAccessOfPrivateData RequireExplicitInclusion RequireRcsKeywords RequireUseOfExceptions RequirePerlVersion RequireUseUTF8 RequirePODUseEncodingUTF8

[Compatibility::PerlMinimumVersionAndWhy]
above_version = 5.010

[Documentation::RequirePodSections]
lib_sections    = NAME | VERSION | DESCRIPTION | SYNOPSIS | COPYRIGHT AND LICENSE
script_sections = NAME | USAGE | OPTIONS | EXIT STATUS | COPYRIGHT AND LICENSE

[Documentation::PodSpelling]
stop_words = GSI Pre pre subcommand

[Subroutines::ProhibitCallsToUndeclaredSubs]
exempt_subs = Carp::croak Moose::around Moose::extends Moose::has Moose::with MooseX::Has::Sugar::coerce MooseX::Has::Sugar::lazy MooseX::Has::Sugar::lazy_build MooseX::Has::Sugar::required MooseX::Has::Sugar::rw MooseX::Has::Sugar::ro MooseX::Types::subtype MooseX::Types::as MooseX::Types::enum MooseX::Types::class_type MooseX::Types::message MooseX::Types::where Path::Class::dir Path::Class::file Readonly::Readonly TryCatch::try TryCatch::catch TryCatch::where

[TestingAndDebugging::ProhibitNoStrict]
allow = refs

[TestingAndDebugging::RequireUseWarnings]
equivalent_modules = Modern::Perl Moose

[TestingAndDebugging::RequireUseStrict]
equivalent_modules = Modern::Perl Moose
