Please answer these questions before contacting DET.

*** What project (PMONumber/PSTicketNumber/QualityCenterID/JIRA-Issue-Key) is
locking file?

*** Is your change related to this project?

*** Will you be removing the change so that your project can go to production
first? 

DET will only add authors to files if your change is related to the change in
the file or you will be removing the change that caused the lock.

Please discuss issues with both project teams that need access to the files.

If your need an author added, email <rmdevel@gsicommerce.com>
<mailto:rmdevel@gsicommerce.com>. The email will open a tracking ticket used
to resolve the issue. 

THE TICKET MAY NOT BE SERVICED UNTIL THE NEXT SHIFT OF STANDARD BUSINESS
WORKING HOURS.
IF THIS IS A TRUE EMERGENCY, PLEASE REACH OUT TO PRODUCTION SUPPORT TO
HAVE THEM CALL SHARED SERVICES ON-CALL TO DISCUSS
