/******************************************\
 *         My Account Global CSS          *
\******************************************/
body.account #content textarea, body.account #content input.text, body.account #content input.password, #content input.fielderror, #content input.fieldError {
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-bottomright:0;
	-moz-border-radius-topleft:0;
	-moz-border-radius-topright:0;
	-moz-box-shadow:1px 1px 1px #E7E7E7;
	margin-bottom:2px;
	padding-left:3px;
	right:0;
}
body.account #content label {
	display:inline-block;
	font-size:11px;
	font-weight:bold;
	margin-right:10px;
	padding-bottom:5px;
	vertical-align:middle;
	line-height: 1.2;
}

.fieldError, .fielderror { border:1px solid #8B2136 !important; }
.error{ margin-bottom:10px; float:left; }
.simple-form p.error { margin-bottom: 0 !important; padding-bottom: 0 !important; font-size:  11px; font-weight: normal; float: none; }
.label-input-grouping { display: block; margin-bottom: 16px; overflow: hidden; width: 100%; }
.form-two-col p.error { margin-left: 170px; width: 200px; }
.hide { display: none !important; }
legend { display: none; }
#shippingAddress-honorific {clear: both;}
.account #main-content { width: auto; }
.account #content { padding: 25px 75px; font-size: 12px; }
.account h4 { font-size: 13px; float: none !important;}

/* ------------------------------------------------------
Account - Login
------------------------------------------------------ */

/* Login */
#account-login h1 { display: none; }
#account-login #content { padding: 25px 75px; }
#account-login #shopping-bar { padding-bottom: 25px; }
#account-login #shopping-bar ul { background: url(/images/lock-icon.png) no-repeat left center; padding-left: 15px; font-size: 12px; padding-bottom: 0; margin-bottom: 10px; }
#account-login #shopping-bar ul li { display: inline-block; padding-right: 10px; }
#account-login #shopping-bar p { padding-bottom: 0; }

#account-login #content form { float: left; display: block; }
#account-login h2 { clear: left; }
#account-login h4 { font-size: 13px; }
#account-login #content p, #account-login #content a { font-size: 13px; }
#account-login #content label { font-weight: bold; vertical-align: middle; display: inline-block; width: 60px; margin-right: 10px; }
#account-login #content label.emailOpt { font-weight: bold; vertical-align: middle; display: inline-block; margin-left: 6px; margin-top: 2px; }
#account-login #content input.text, #account-login #content input.password { width: 150px; vertical-align: middle; display: inline-block; }
#account-login #content fieldset a { display: block; padding-bottom: 15px; }
#account-login #content textarea, #account-login #content input.text, #account-login #content input.password { -moz-border-radius: 0; -webkit-border-radius: 0; right: 0; padding-left: 3px; -moz-box-shadow: 1px 1px 1px #e7e7e7; -webkit-box-shadow: 1px 1px 1px #e7e7e7; box-shadow: 1px 1px 1px #e7e7e7; margin-bottom: 2px; }
#account-login .field { margin-bottom: 8px; }
#account-login #content #call-rates {font-style: italic; color: #999;} 

#returningCustomer, #newCustomer { margin-bottom: 30px; padding: 10px 0; }
#returningCustomer, #orderDetailCommand { width: 420px; margin-right: 20px; }
#orderDetailCommand label { width: 100px !important; }
#orderDetailCommand #zipCode { width: 70px !important; }
#orderDetailCommand .error { float: none; }
#newCustomer { padding-left: 20px; border-left: 1px solid #e6e7e8; width: 330px; }
#newCustomer label { width: 160px !important; }
#newCustomer label.emailOpt { width: 280px !important; }

/* Welcome / Main page */
#account-main h1 {display: none; }
#account-main h2 { padding-bottom: 5px; }
#account-main h4 {padding-bottom: 5px;}
#account-main .info-section li {font-size: 11px; padding-bottom: 5px;}
#account-main .info-section { margin-top: 30px; display: inline-block; vertical-align: top; width: 400px; }
#account-main .info-section.alt { padding: 0 0 40px 20px; border-left: 1px solid #e6e7e8; }
#account-main .info-section p { padding-bottom: 0; }
#account-main .note { padding-top: 30px; }

/* Edit Email Address, Password */
#account-edit-email h1, #account-change-password h1 {padding: 0 0 5px 0;}
#account-edit-email #main-content label, #account-change-password #main-content label {width: 160px;}
#account-edit-email #main-content input, #account-change-password #main-content input {display: inline; width: 160px;}
#account-edit-email .label-input-grouping, #account-change-password .label-input-grouping {margin-bottom: 15px;}
#account-edit-email .left-content, #account-change-password .left-content {float: left; width: 500px;}
#account-edit-email .right-content, #account-change-password .right-content {float: right; margin-left: 100px; width: 160px;}
#account-edit-email #continue, #account-change-password #continue {background-position: 0 -356px; width: 75px !important; height: 20px; margin-left: 266px; }


/* Email Preferences */
#email-preference #sidebar {float: right;}
#email-preference #continue {background-position: 0 -356px; width: 75px; height: 20px; margin-top: 20px;}
#email-preference #content label {padding-bottom: 0;}

/***********************************
/** Forgot password pop-up
/***********************************/
#forgot-pwd-pop h1{height:1px;left:-9999px;overflow:hidden;position:absolute;width:1px;}
#forgot-pwd-pop p{margin:10px 0;}
#forgot-pwd-pop .error{color:red;font-size:9px;display:block;}
#forgot-pwd-pop fieldset {padding:10px;}
#forgot-pwd-pop legend {margin:10px 0;font-weight:bold;font-size:12px;}

/***************************************
/** Address Book
/***************************************/
#account-address-book #main-content {padding:0 0 40px 40px; width:620px;}
#account-address-book #content {padding: 40px 10px;}
#account-address-book h1 {padding: 0 0 15px 40px;}
#account-address-book h2 {display: none;}
#account-address-book #shipOpt label.suggOptionTxtEntry { width: 480px; }
#account-address-book #shipOpt label {width: 180px;}
#account-address-book #shipOpt input {display: inline;}
#account-address-book a.tooltip {margin-left: 5px; vertical-align: middle;}
#account-address-book .splatter {background-image: url(/images/layout-sprite.png); background-position: 0 -381px; color: #fff; margin: 0 0 10px -40px; width: 265px; height: 40px; padding: 5px 0 0 60px;}
#account-address-book .splatter2 {background-image: url(/images/layout-sprite.png); background-position: 0 -924px; color: #fff; margin: 0 0 10px -40px; width: 265px; height: 40px; padding: 5px 0 0 60px;}
#account-address-book .message { margin: 0 0 30px 0; color: #748DB5; font-weight: bold; } 

#account-address-book #addressFormButtons { float: left; width: 500px; white-space: nowrap; }
#account-address-book #save {text-indent: -9999px; background-image: url(/images/layout-sprite.png); background-position: -1360px -385px; width: 120px; height: 32px; margin-left: 382px;}
#account-address-book .editCancelLink { float: left; margin-left: 298px; }
#account-address-book #editCancel { text-indent: -9999px; background-image: url(/images/layout-sprite.png); background-position: -1360px -580px; width: 74px; height: 14px; }
#account-address-book #editSave { text-indent: -9999px; background-image: url(/images/layout-sprite.png); background-position: -1360px -385px; width: 120px; height: 32px; margin-left: 4px; }
#account-address-book #prefBill label, #account-address-book #prefShip label, #account-address-book #reset { display: none !important; }


#account-address-book #preferredBilling1, #account-address-book #preferredShipping1 { margin-right: 5px; }
#account-address-book #prefBill, #account-address-book #prefShip { padding-bottom: 10px; }
#account-address-book #addresses { width: 100%; float: left; font-size: 11px; }
#account-address-book #addresses ul li.last { margin: 0; }
#account-address-book #addresses ul li { float: left; width: 196px; margin: 0 12px 0 0; }
#account-address-book #addresses .address-book { display: block; }

#account-address-book .field  { margin: 15px 0 0 0; overflow: hidden; }
#address label  { width: 180px; }
#account-address-book p.error, #account-address-book div.error, #account-address-book span.error, #account-address-book .fieldErrorMessages { margin: 0; padding: 0; }
#account-address-book .radio-options { margin-left: 0; }
#account-address-book .radio-options label { width: auto; }
#account-address-book #newAddressBtm {display: none;}
#account-address-book .collapse {display: none;}
#addressBookForm #shippingAddress { padding-bottom: 5px; }

/*address verification*/
#address-suggestion-results fieldset { padding: 0 0 15px !important; }
#address-suggestion-results label { font-weight: normal; display: inline; }
#address-suggestion-results .radio-options, #address-suggestion-results h4 { float: left; }
#address-suggestion-results .radio-options { float: none; margin-left: 155px; }
#address-suggestion-results h4 { text-align: right; width: 140px; font-size: 12px; float: left; }
#address-suggestion-results input.checkout { margin-left: 180px; }
#address-suggestion-results .address-sugg-note { margin-left: 20px; }

/***********************************
/** Credit Card Wallet
/***********************************/
#account-cc-wallet #main-content {padding:0 0 40px 40px; width:620px;}
#account-cc-wallet #content {padding: 40px 10px;}
#account-cc-wallet h1 {padding: 0 0 15px 40px;}
#account-cc-wallet h2 {display: none;}
#account-cc-wallet #shipOpt label.suggOptionTxtEntry { width: 480px; }
#account-cc-wallet #shipOpt label {width: 180px;}
#account-cc-wallet #shipOpt input {display: inline;}
#account-cc-wallet a.tooltip {margin-left: 5px; vertical-align: middle;}
#account-cc-wallet .splatter {background-image: url(/images/layout-sprite.png); background-position: 0 -381px; color: #fff; margin: 0 0 10px -40px; width: 265px; height: 40px; padding: 5px 0 0 60px;}
#account-cc-wallet .splatter2 {background-image: url(/images/layout-sprite.png); background-position: 0 -924px; color: #fff; margin: 0 0 10px -40px; width: 265px; height: 40px; padding: 5px 0 0 60px;}
#account-cc-wallet .message { margin: 0 0 30px 0; color: #748DB5; font-weight: bold; }

#account-cc-wallet #addressFormButtons { float: left; width: 500px; white-space: nowrap; }
#account-cc-wallet #save {text-indent: -9999px; background-image: url(/images/layout-sprite.png); background-position: -1360px -385px; width: 120px; height: 32px; margin-left: 382px;}
#account-cc-wallet .editCancelLink { float: left; margin-left: 298px; }
#account-cc-wallet #editCancel { text-indent: -9999px; background-image: url(/images/layout-sprite.png); background-position: -1360px -580px; width: 74px; height: 14px; }
#account-cc-wallet #editSave { text-indent: -9999px; background-image: url(/images/layout-sprite.png); background-position: -1360px -385px; width: 120px; height: 32px; margin-left: 4px; }
#account-cc-wallet #prefBill label, #account-cc-wallet #prefShip label, #account-cc-wallet #reset { display: none !important; }

#account-cc-wallet #preferredBilling1, #account-cc-wallet #preferredShipping1 { margin-right: 5px; }
#account-cc-wallet #prefBill, #account-cc-wallet #prefShip { padding-bottom: 10px; }
#account-cc-wallet #cards { width: 100%; float: left; font-size: 11px; }
#account-cc-wallet #cards ul li.last { margin: 0; }
#account-cc-wallet #cards ul li { float: left; width: 180px; margin: 0 12px 0 0; }
#account-cc-wallet #cards .address-book { display: block; }

#account-cc-wallet .field  { margin: 15px 0 0 0; overflow: hidden; }
#account-cc-wallet p.error, #account-cc-wallet div.error, #account-cc-wallet span.error, #account-cc-wallet .fieldErrorMessages { margin: 0; padding: 0; }
#account-cc-wallet .radio-options { margin-left: 0; }
#account-cc-wallet .radio-options label { width: auto; }
#account-cc-wallet #newAddressBtm {display: none;}
#account-cc-wallet .collapse {display: none;}

#account-cc-wallet #add-a-card .credit-cards li { float:left; margin-right:15px; }

/***********************************
/** Order History
/***********************************/
#order-history #content { padding: 40px 80px; }
#order-history .section-header { padding: 0 0 10px 0; width: 500px; }
#order-history #history { padding-bottom: 0; margin-bottom: 15px; zoom: 1;  }
#order-history #history th.order-date, #order-history #history th.order-number { width: 160px; }
#order-history #history th.destination { width: 220px; }
#order-history #history th.order-status { width: 240px; }
#order-history #history td { padding-bottom: 10px; }

/***********************************
/** Order Details
/***********************************/
#order-details #content { padding: 40px 30px; }
#order-details #main-content { width: 100% !important; }
#order-details .section-header { width: 600px; padding: 0; }
#order-details .section-header p { font-size: 12px; }
#order-details .order-details { font-weight: bold; font-size: 16px; color: #58595b; border-bottom: 1px solid #e6e7e8; padding-bottom: 10px; margin-bottom: 10px; overflow: hidden; }
#order-details .order-details p { float: left; padding-right: 20px; padding-bottom: 0; }
#order-details .order-details .print { margin-top: 0; }
#order-details .returned-items { margin-top: 36px; }
#order-details div.table-caption.info-section { padding: 14px 0 12px 0; }
#order-details .info-section { display: inline-block; padding: 0 80px 24px 0; color: #58595b; }
#order-details .info-section.last { padding-right: 0; width: auto; }
#order-details .cost-summary { width: 150px; }
#order-details .cost-summary dt {text-align: right; width: 75px; }
#order-details .cost-summary dd { text-align: right; padding-left: 20px; width: 55px; }
#order-details .cost-summary .total { border-top: none; padding-top: 4px; }
#order-details #details, #order-details #returns { margin-left: 0; }
#order-details #details .first, #order-details #returns .first { padding-left: 0; }
#order-details #details th.qty, #order-details #returns th.qty { width: 40px; }
#order-details #details th.price, #order-details #returns th.price { width: 50px; text-align: right; }
#order-details #details th.item, #order-details #returns th.item { width: 360px; }
#order-details #details th.status, #order-details #returns th.status { width: 210px; }
#order-details #details .shipping-method, #order-details #details .status, #order-details #returns .shipping-method, #order-details #returns .status { padding-left: 60px; }
#order-details #details th.shipping-method, #order-details #returns th.shipping-method { width: 100px; }
#order-details #details td.qty, #order-details #returns td.qty { text-align: center; }
#order-details #details td.price, #order-details #returns td.price, #wishlist #list td.price { font-weight: bold; font-size: 13px; color: black; padding-right: 0; text-align: right; }
#order-details #details .photo, #order-details #returns .photo { float: left; display: block; padding-right: 20px; }
#order-details .buttons { padding-left: 20px; }
#order-details .buttons li { display: inline-block; padding-right: 20px; }
.cost-summary { overflow: hidden; }
.cost-summary dd, .cost-summary dt { padding-top: 4px; float: left; display: block; width: 50%; color: #58595b; font-size: 11px; }
.cost-summary dt { float: left; clear: left; }
.cost-summary dd { text-align: right; float: right; clear: right; }
.cost-summary .total { font-weight: bold; border-top: 1px solid #e6e7e8; padding-top: 10px; padding-bottom: 0; }

/* order history and order details cancel links */
#order-history .cancel-order, #order-details .cancel-order { margin: 12px 0; }