/* ------------------------------------------------------
Cart & Checkout
------------------------------------------------------ */
/* cart */
body#cart #content { padding: 44px 0 0 0; }
body#cart #main-content { width: 654px; padding: 0 44px 40px 44px; }

body#cart h1 {display:none;}

.all-transactions, .all-transactions a { vertical-align: baseline; }
.all-transactions { font-size: 11px; color: black; font-family: Helvetica, Arial; padding-left: 20px; }
#shopping-cart { padding-bottom: 0; }
#cart th.description { width: 460px; }
#cart th.price, #cart th.total  { padding-right: 20px; text-align: right; }
#cart th.price { width: 60px; }
#cart td.qty { padding: 15px; }
#cart td.price { padding-left: 10px; }
#cart td.price, #cart td.total { padding-top: 20px; text-align: right; }
#cart td.total { background: url(/images/cell-bg.png) no-repeat left top; padding-left: 35px; }
#cart .photo { float: left; display: block; padding-right: 20px; }
#cart h4 { font-size: 13px; color: #333; padding-bottom: 0; }
#cart h4.fn a {color: #000;}
#cart .product-description { float: left; font-size: 12px; width: 310px; }
#cart .cart-options { font-size: 12px; width: 200px; }
#cart .product-number { color: #999; padding-bottom: 30px; }
#cart .product-details .value { font-weight: bold; }
#cart .cart-controls { margin-bottom: 10px; display: block; float: left; }
#cart .cart-controls.move { padding-right: 5px; margin-right: 5px; }
#cart .at { color: #999; float: left; font-size: 12px; padding-right: 5px; vertical-align: baseline; margin-top: -1px; }
form#cartCommand { padding: 10px 0; display: block; }
form#cartCommand button.update { margin: 10px 0 0; float: right; }
form#promoCodeCommand { padding: 20px 0 20px; display: block; margin-bottom: 20px; float: right; }
form#promoCodeCommand label { color: #666; text-align: right; width: 180px; vertical-align: middle; display: inline-block; margin-right: 20px; font-size: 12px; line-height: 1.4; }
form#promoCodeCommand input { display: inline-block; vertical-align: middle; }
form#promoCodeCommand input.text { width: 145px; height: 16px; padding-top: 2px; }
form#promoCodeCommand input.submit { position: relative; }
#cart #cart-update {margin-left: -20px; padding-bottom: 10px; border-bottom: 1px solid #E6E7E8;}

#cart .totals { float: right; }
#cart .totals li { float: right; overflow: hidden; padding-bottom: 10px; padding-left: 255px; width:420px; }
#cart .totals .total { font-weight: bold; }
#cart .totals .property, #cart .totals .value { display: inline-block; vertical-align: top; }
#cart .totals .property { padding-right: 40px; text-align: right; float: left; width: 280px; font-weight: bold; }
#cart .totals .value { width: 90px; text-align: right; float: right; padding-right: 10px; }
#cart .totals .shipping-description { font-weight: normal; display: block; }
#cart .totals .promo { color: #9f1731; }
#cart .totals .go { padding-left: 5px; }
#cart .totals .estimated-total { padding-top: 10px; font-size: 18px; font-weight: bold; border-top: 1px solid #e7e6e3; }

#cart fieldset legend { display:none; }
#cart fieldset.submit { clear: both; float: right; }

#cart .aside { width: 214px; margin-top: 55px;  }
#cart .aside h2 { background: url(/images/cart-aside-bg.png) no-repeat right top; color:white; font-size: 16px; height: 37px; padding: 19px 0 0 45px; text-transform: none;}
#cart .aside.right .products { padding-top: 0; margin-left: 20px; border-top: 0; width: 180px; }
#cart .aside.right .products .hproduct { float: none; padding: 0 0 40px 0; margin-bottom: 20px; border-right: none; width: 180px; overflow: hidden; border-bottom: 1px solid #ccc; }
#cart .aside.right .products .hproduct .fn { padding-bottom: 0; }
#cart .aside.right .products .hproduct .price { font-size: 12px; padding-bottom: 0; }
#cart .aside.right .products .hproduct .price .was-price { color: #999; font-size: 11px; vertical-align: baseline; font-weight: normal; white-space: nowrap; }
#cart .aside.right .products .hproduct.last { margin-bottom: 0; padding-bottom: 0; border-bottom: none; }
#cart .aside.right .products img { float: left; margin-right: 20px; display: block; }
#cart .product-details span.tooltip { display: none; }

#cart a.go { margin: 0 0 0 4px; }
