/* grid line-height: 15px (125%) */
/* set up some global rules */
* {margin: 0; padding: 0;}
fieldset {border: none;}
body  {
	font: 12px "Lucida Grande", Arial, Helvetica, sans-serif;
	background: #FFF;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
}
p {margin-bottom: 16px;}
h1 {font-size: 18px; line-height: 23px; margin-bottom: 16px;}
h2 {font-size: 14px; line-height: 18px; margin-bottom: 16px;}
h3 {font-size: 12px; line-height: 16px;}
ul, li {list-style-type: none; margin: 0; padding: 0;}
legend {display: none;}
a {outline:none;color:#0000FF;}
.checkout a{color:#0000FF !important;}
a img {border:none;}


/* Layout related styles. ID rules are global and classed rules are page-specific in nature.*/
#container {text-align: left;}
#sidebar1 {clear: both;}
#sidebar1 .wrap {padding-right: 8px;}
#sidebar1 li, #sidebar2 li, #sidebar1 h3, #sidebar2 h3 {margin-bottom: 8px;}
#sidebar2 .wrap {padding-left: 8px;}
.thrColFixHdr #mainContent #product-imagery {/*width: 305px; for 3 columns*/ float: left; text-align: center; width: 385px;}
.oneColFix #mainContent #product-imagery {text-align: center;}
.oneColFix.home #mainContent, .oneColFix.help #mainContent, .oneColFix.search #mainContent {margin-top: 0; border: none; clear: both;}
.oneColFix.home #mainContent .wrap, .oneColFix.help #mainContent .wrap, .oneColFix.search #mainContent .wrap {margin: 0;}
.home #container, .help #container, .search #container {width: 960px; text-align: left;}
.home #mainContent .wrap, .help #mainContent .wrap, .search #mainContent .wrap{padding: 0 8px;}
#helpdesk-article #mainContent .wrap{padding: 0 8px 8px 8px;}



/* Global Header */
#header {margin-bottom: 16px; text-align: left;}
#header .wrap {position: relative;}
#header ul, #header li {list-style-type: none; margin: 0; padding: 0;}
#header li {}
#nav1 {width: 100%; clear: both;}
#nav1 li {float: left; background: url(/images/global/layout/tab_left.gif) no-repeat left top; padding-left: 4px; margin-top: 16px;}
#nav1 a {display: inline; float: left; background: url(/images/global/layout/tab_right.gif) no-repeat right top; padding: 8px 12px 8px 8px; margin-right: 4px; height: 24px; color: #333; text-decoration: none;}
#util {position: absolute; top: 0; right: 0; height: 36px;}
#util li, #footer li {float: left; padding: 12px 0; font-size: 10px;}
#util li a, #footer li a {display: block; padding: 0 8px;border-right: solid 1px #333; }
#util .last a, #footer .last a {border-right: none;}
#search {position: absolute; top: 36px; right: 0;}


/* Global Footer */
#footer {padding-top: 16px; border-top: solid 1px #333; text-align: center;}
#footer .wrap {margin: 0 8px 16px 8px;}
#footer li { float: none; display: inline;}
#footer li a {display: inline;}
#footer p.contact {clear: both; font-size: 10px; margin-top: 8px;}


/* Breadcrumbs */
#breadcrumbs {clear: both; width: 100%; margin-bottom: 16px;}
#breadcrumbs .wrap {margin: 0 8px;}
#breadcrumbs li {float: left; margin-bottom: 16px; margin-right: 8px; font-size: 10px;}
#breadcrumbs a {margin-right: 8px;}


/* Search page search component */
.search #body-search {position: static;}
.search form {margin-bottom: 16px;}
.search h3 {margin-bottom: 8px;}
.search .hide {display:none;}


/* Secondary navigation component */
#nav2 {border: solid 1px #666; padding: 8px;}
#nav2 li.selected {font-weight: bold;}
#nav2.parametric li {margin-bottom: 16px;}
#nav2.parametric li li {margin-bottom: 8px;}
#nav2.parametric li strong {display: block; margin-bottom: 8px;}


/* Numbered and bulleted lists */
ol.numbered, ol.numbered li {list-style-type: decimal; list-style-position: inside;}
ol.numbered li {margin-left: 20px; margin-bottom: 8px;}
ul.bullet {margin-bottom: 16px;}
ul.bullet, ul.bullet li {list-style-type: disc; list-style-position: inside;}
ul.bullet li {margin-left: 12px;}


/* Email page-specific component rules */
.email-friend #product-imagery {text-align: left; float: left; width: 125px;}
.email-friend #product-detail {float: right; width: 373px;}
.email-friend form {clear: both;}
.email-friend form div {width: 249px; margin-bottom: 16px;}
.email-friend label {display: block;}
.email-friend #friend-name, .email-friend #your-name, .email-friend #friend-email, .email-friend #your-email {width: 235px;}
.email-friend .friend-name, .email-friend .your-name {float: left;} 
.email-friend .friend-email, .email-friend .your-email {float: right;} 
.email-friend .message {clear: both;}
.email-friend #message {width: 485px;}
.email-friend #send {float: right; width: 100px;}

/* Gift certificate page-specific component rules */
.gift-cert #sidebar1 img {display: block; margin-bottom: 16px;}
.gift-cert #sidebar1 ul {margin-bottom: 16px;}
.gift-cert label {display: block; float: left; text-align: right; width: 224px; margin-right: 8px;}
.gift-cert #sidebar2 form div {clear: both; margin-bottom: 16px;}
.gift-cert #recip-name, .gift-cert #recip-email, .gift-cert #sender-name, .gift-cert #message {width: 215px;/* float: right;*/}
.gift-cert #cert-amount {width: 30px;}
.gift-cert #message {height: 150px;}
.gift-cert .recip-name .note {margin-left: 232px; margin-top: 4px;}
.gift-cert .cert-amount .note {float: right; width: 180px;}


/* Category page-specific component rules */
.category #featured, .subcategory #featured, .home #featured {border: solid 1px #666; padding: 8px; clear: both;}


/* Sub-category page-specific component rules */
.subcategory #product-detail {border: solid 1px #666; padding: 8px; float: none; width: auto; margin-bottom: 16px; clear:both;}
.subcategory #product-detail .wrap {padding: 0 0 0 0;clear:both;}
.subcategory h1, h2.banner {color: #fff; background: #666; padding: 4px; margin-bottom: 8px;}
.subcategory #main-img {margin: 0 8px 0 0; float: left;}
.subcategory #product-detail h3 {margin-bottom: 16px;}


/* Product page-specific component rules */
#main-img {margin-bottom: 16px;}
#main-img #zoom {float: left; text-align: left;}
#main-img #zoom a {background-image: url(/images/global/icons/zoom_in.gif); background-position: top left; background-repeat: no-repeat; padding-left: 20px; margin-left: 82px; height: 20px; display: block;}
#main-img #tour {float: right; text-align: right;}
#main-img #tour a {margin-right: 82px;}
#main-img #zoom, #main-img #tour {width: 49%; margin-bottom: 16px; margin-top: 8px;}
#main-img #close a {background-image: url(/images/global/icons/cancel.gif); background-repeat: no-repeat; background-position: top left; padding-left: 20px;}
#main-img #close {margin-top: 8px;}
#product-nav, #product-tools, #related-categories {border: solid 1px #666; padding: 8px; margin-bottom: 16px;}
#product-nav .navbar {text-align: center;}
#product-nav .prev {margin-right: 16px;}
#product-nav .next {margin-left: 16px;}
#alt-img {clear: both;}
#alt-img ul {/*margin-left: 9.75px; for 3 column layout */ margin-left: 50px;}
#alt-img li {float: left; width: 95px; height: 95px;}
#alt-img img {border: solid 1px #666;}
#config fieldset {padding: 8px; margin-bottom: 16px; border: solid 1px #666;}
#config label {display: block; float: left; font-weight: bold; width: 15%; text-align: right; padding-top: 3px; margin-right: 3px;}
#config div {margin-bottom: 16px;}
#product-detail {/*width: 305px; for 3 columns*/ float: right; width: 385px;}
#product-detail h1 {margin-bottom: 0;}
#product-detail .swatches ul {padding-left: 15%; margin-left: 3px;}
#product-detail .swatches li {float: left; width: 35px; height: 35px;}
#product-detail .swatches img {border: solid 1px #666;}
#product-detail .quantity, #product-detail .size {clear: both;}
#product-detail .util {padding-left: 15%; margin-left: 3px; clear: both;}
#product-detail .util ul {float: right; width: 53%;}
#product-detail .util li {margin-bottom: 8px;}
#product-detail .util a {background-position: top left; background-repeat: no-repeat; padding-left: 23px;}
#product-detail .util a.wishlist {background-image: url(/images/global/icons/add.gif);}
#product-detail .util a.email {background-image: url(/images/global/icons/email.gif);}
#product-detail .notes li, #product-detail .services li {font-size: 10px; margin-bottom: 16px;}
#product-detail .avail {margin-bottom: 0; clear: both;}



/* Related Items component */
#related-items, #recent-history {clear: both; margin-bottom: 16px;}
#related-items caption {display: none;}
#related-items table, #recent-history table {border: solid 1px #666; border-width: 1px 1px 0 1px;}
#related-items th, #related-items td, #recent-history th, #recent-history td {padding: 8px; border: solid 1px #666; border-width: 0 0 1px 0;}
#related-items td.quantity {border-left: solid 1px #666;}
#related-items ul.products img, #recent-history ol.products img {display: inline; float: left; margin-right: 8px;}
#related-items label {display: none;}


/* Recent History component */
#recent-history caption {background: #666; color: #fff; text-align: left; padding: 8px;}
#recent-history th {width: 10%;}
#recent-history .mask {overflow:hidden;height:60px;width:735px;float: left;position: relative;}
#recent-history .prev {float:left;width: 23px;margin-top: 17px;}
#recent-history .next {float:right;width: 23px;margin-top: 17px;}
#recent-history .prevOff a, #recent-history .nextOff a{display:none;}

#recent-history ol.products {position: absolute;height:60px;left:0;top:0;}
#recent-history th ul, #recent-history .prompt{	float: left;clear: none;}
#recent-history .prompt{width:100px}
#recent-history th ul {font-weight: normal;}
#recent-history ol.products li {float: left;width: 245px;}
#recent-history ol.products dl {margin-right: 8px;}
#recent-history ul.navbar li {float: left;}
#recent-history ul.navbar li a {padding: 0 8px; border-right: solid 1px #666;}
#recent-history ul.navbar li.last a{border-right: none;}

/* reviews-and-ratings Items component */
#reviews-and-ratings, #recent-history {clear: both; margin-bottom: 16px;}
#reviews-and-ratings caption {background: #666; color: #fff; text-align: left; padding: 8px;} 
#reviews-and-ratings table, #recent-history table {border: solid 1px #666; border-width: 1px 1px 0 1px;}
#reviews-and-ratings td {padding: 0px; border: solid 1px #666; border-width: 0 0 1px 0;}
#reviews-and-ratings td.quantity {border-left: solid 1px #666;}
#reviews-and-ratings td.comments {color: #000; text-align: left; padding: 8px;}
#reviews-and-ratings label {display: none;}

/* product navigator component */
.product-nav {clear: both;}
.product-nav ul, .product-nav li {list-style-type: none;}
.product-nav li {float: left; width: auto; margin: 0 4px 16px 4px;}
.product-nav .prev a {display: block; width: 16px; background-image: url(/images/global/icons/resultset_previous.gif); background-repeat: no-repeat; background-position: top left; text-decoration: none;}
.product-nav .next a {display: block; width: 16px; background-image: url(/images/global/icons/resultset_next.gif); background-repeat: no-repeat; background-position: top left; text-decoration: none;}
.product-nav .item-count {font-weight: bold;}
.prodDescription{line-height:21px;}


/* product list component */
ol#products {clear: both; width: auto; margin-bottom: 16px;}
ol#products, ol#products li, ol#products dt, ol#products dd {list-style-type: none;}
ol#products li {float: left; width: 196px; text-align: center;}
ol#products dl {margin: 0 8px 16px 8px;}
ol#products dt {margin-bottom: 16px;}
ol#products .promo {margin-bottom: 8px;}
ol#products em {font-style: normal;}
.category ol#products {width: 768px;}
.category ol#products li {width: 192px;}
.home ol#products {width: 944px;}
.home ol#products li {width: 188px;}
.home #featured {text-align: left;}


/* product search component */
.product-search fieldset {border: solid 1px #666; margin-bottom: 16px; padding: 8px;}
.product-search label {display: block; margin-bottom: 4px; font-weight: bold;}


/* Help page specific components */
dl.help {margin: 0 8px 24px 0;}
dl.help dt {font-weight: bold; font-size: 13px; margin-bottom: 12px;}
dl.help dd {line-height: 16px;}
dl.help dd a {padding-left: 16px; background: url(/images/global/icons/bullet_go.gif) no-repeat -3px 0;}
#help-topics li {margin-left: 20px; margin-bottom: 4px;}
#help-topics h3 {background: #333; padding: 4px; color: #fff;}


/* Email page specific components */
.email label, .email input#email {display: block; margin-bottom: 8px;}
.email #submit {margin-right: 16px;}

/* Site map page specific components */
.map dl {margin: 0 8px 24px 0;}
.map dt {font-weight: bold;}
.map dd {margin-left: 8px;}


/* inline type effects */
.header{font-size:18px; font-weight:bold;}
.note {font-size: 10px;}



/* Floating classes */
.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

/* shopping basket */
#contentbody table {margin: 0 auto;}
#cartItems, #cartItems span, .subheadmed span, font.subheadmed, td.subheadmed {color: #333 !important;}
#cartItems a.details, #cartItems a.pagelink, .subheadmed a.details, .subheadmed a.pagelink, .login a.pagelink, #checkoutPages .details {font-size: 12px !important; color: #00f !important; text-decoration: underline !important;}
#cartBgclrProdDtls .maincolor, .login .maincolor, #checkoutPages .maincolor {background-color: #666 !important; color: #fff !important;}
#cartBgclrProdDtls td {background-color: #e6e6e6 !important; padding: 4px !important;}
#cartItems .checkbg_dk, .login .checkbg_lt, #checkoutPages .checkbg_lt {background-color: #e6e6e6 !important; padding: 4px !important;}
#cartItems .checkbg_dk table td, #checkoutPages .checkbg_dk {background-color: #ccc !important; color: #333 !important;}
td.checkbg_lt, td.maincolor {padding: 4px !Important;}
#checkoutPages td, #checkoutPages th {text-align: left !important;}
#checkoutPages, #checkoutPages .pagetext, #checkoutPages .checkbg_dk b, #checkoutPages .padding {color: #333 !important;}
.checkout table{
background-color: transparent !important;
}
.cartrow1{text-align:left; }
.subheadmed table td{text-align:left;}
table{margin:0 auto;}
#mainContent .wrap td{ background-color:#fff;}
#faqPage table {border:1px solid black !important;padding:4px;margin-bottom:10px;background-color:transparent !important;}
#faqPage table table {border:none !important;padding:0;margin-bottom:0;}
#mainAlternateViews {
   clear: left;
}

#SLResults table td, #SLResults table th {border-style: solid solid none none;border-width:1px;border-color:#000000;padding:3px;}
#SLResults table th {background-color: #000000; color: #FFFFFF;}
#SLResults table {border-style: none none solid solid;border-width:1px;border-color:#000000;}

#fileNotFoundPage #mainContent ul {list-style-type: disc; margin: 5px 0pt 20px 15px;}
#fileNotFoundPage #mainContent ul li {list-style-type: disc;  margin: 5px 0 0 5px;}
#fileNotFoundPage #mainContent ul li fieldset {height:17px;}
