#nav-category .activeController a { background-image: url(/images/nav-current-splatter-ie6.png); }
#nav-category .col-2, #nav-category .col-1 { padding-bottom: 0; background: none; background-color: white; border-bottom: 2px solid #e2e2e2; border-right: 1px solid #e2e2e2; left: 0px; }
#nav-category .col-2 .col, #nav-category .col-1 .col { background: none; background-color: white; }
#nav-category .col-2 .col.last, #nav-category .col-1 .col.last { border-right: 2px solid #e2e2e2; }
#sign-up input.submit, #header .search input.submit { background: url(/images/header-button-sprite-ie6.png) no-repeat left top; height: 20px; width: 62px; }
#your-basket, #your-basket.active { background-image: url(/images/basket-icon-ie6.png); }
#header .search input.submit { background-position: left bottom; width: 26px; height: 26px; }
#header, #footer { background-image: url(/images/header-footer-sprite-ie6.png); }
#logo { background-image: url(/images/logo-ie6.png); }
#content, #breadcrumbs, #globalSpot { background-image: url(/images/content-bg-ie6.png); }
#globalSpot { zoom: 1 }
.family-category #content, .family-category #main-content  {float: none;}
#follow-us { background-image: url(/images/footer-divider-bg-ie6.png); }
#follow-us h2 { background-image: url(/images/follow-us-on-bg-ie6.png); }
#footer #follow-us a { background-image: url(/images/facebook-twitter-sprite-ie6.png); }
input.submit, input.button, button, .button { background-image: url(/images/button-sprite-ie6.png); }
.aside { background-image: url(/images/left-aside-bottom-bg-ie6.png); }
.aside.right {background-image: url(/images/right-aside-bottom-bg-ie6.png); }
.aside .top-cap { background-image: url(/images/left-aside-top-bg-ie6.png); }
.aside.right .top-cap { background-image: url(/images/right-aside-top-bg-ie6.png); }
.aside.right.splatter .top-cap { background-image: url(/images/right-aside-splatter-bg-ie6.png); float: none; }
.just-arrived { background-image: url(/images/just-arrived-bg-ie6.png); }
#product .aside.right h2 { background-image: url(/images/product-right-aside-bg-ie6.png); }
#product #recent-history h2 { background-image: url(/images/product-left-aside-bg-ie6.png); }
#product #your-basket.active { background-image: url(/images/basket-icon-active-ie6.png); } 
#product #share-products li a { height: 22px; display: inline-block; }
.checkout #nav-checkout { background-image: url(/images/checkout-nav-bg-ie6.png) !important; }
#products .just-arrived { background-image: url(/images/just-arrived-bg-ie6.png); }
.product-controls-end { display: none; }
#prd-bottom-extend.center { background-position: -255px 0; width: 311px; margin-left: -63px; }
#cart .aside h2 { background-image: url(/images/cart-aside-bg-ie6.png); }
#cart #apply-promo-code { padding-left: 73px; }
#cart #FORM#promoCodeCommand { width: 500px; }

#product #recent-history { display: inline; }
.history-control { background-image:  url("/images/recent-history-sprite-ie6.png"); }
#ins1 .submit { background-image: url(/images/button-sprite-ie6.png); }

.ptooltip .tt-wrap { background-image: url(/images/ptooltip-bg-sprite-ie6.png); background-position: -230px 0; }
.ptooltip .tt-wrap .tt-inner { background-image: url(/images/ptooltip-sprite-ie6.png); background-position: -239px -63px; }
#products.p-right .ptooltip .tt-wrap .tt-inner { background-position: -5px -63px; }
.ptooltip .bottomcap { background-image: url(/images/ptooltip-sprite-ie6.png); }
.ptooltip .topcap { background-image: url(/images/ptooltip-sprite-ie6.png); }
.ptooltip.left .tt-wrap { background-position: 0 0; }

#product #minicart-close { background: url(/images/minicart-close-ie6.png) no-repeat right top; }
#sitemap #main-content, #sitemap #helpdesk-panels {float: none !important;}

.p-left, .p-center, .p-right, .p-last {background-repeat: no-repeat; }
.p-left { background-image: url(/images/prd-hover-left.png); }
.p-center { background-image: url(/images/prd-hover-center.png); }
.p-right { background-image: url(/images/prd-hover-right.png); }
.p-last { background-image: url(/images/prd-hover-right.png); }

#helpdesk.landing .section { height: 340px; }

.checkout #addressForm .optional label { padding-left: 8px; width: 172px; }
.checkout #addressForm .preference input, .checkout #addressForm .radio-options input { vertical-align: middle; }
.checkout #sidebar #forget-password-link  { cursor: pointer; }

input.use-different { display: inline-block; }

#store-locator #map-shadow { background: none; display: none; }
#store-locator #searchBtn { background: url(/images/go-btn-search-results.png); }
.cms { position: relative; }
#re-search #search-submit { background: url(/images/go-btn-search-results.png); }

.email-a-friend .ebutton { background: url(/images/email-friend-send-ie6.png); }

#history-slider .history-control {	background-image: url(/images/recent-history-sprite-ie6.png); }

#top-category #main-content, #sub-category #main-content { margin-right: 5px; }
