/* 
 * CSS for Peacocks Build The Look
 * Customized for IE6
 */

#buildthelook #main-content {
	width: 984px;
}

#buildthelook #content {
	background-position: 0px top;
}

#buildthelook #side-toolbar {
	width: 138px;
}

#buildthelook #prodbar {
	margin-left: 2px;
}

#buildthelook #prodbar #selections .side-heading {
	margin-left: 7px;
}

#buildthelook #prodbar #selected-prods {
	margin-left: -7px;
}

#buildthelook #prodbar #history {
	margin-left: -7px;
}

#buildthelook #prodbar #selected-prods li a.selected-prod-link,
#buildthelook #prodbar #past-prods li a.past-prod-link {
	left: -38px;
}

#buildthelook #side-toolbar #start-over {
	margin-left: 19px;
}

#buildthelook #catnav {
	margin: 0 5px 0 0;
	height: 33px;
	padding: 0;
	position: relative;
	top: -30px;
}

#buildthelook #catnav li a {
	float: left;
}

#buildthelook #prod-pages {
	margin-top: -30px;
}

#buildthelook #prod-pages .top-cap {
	width: 561px;
	overflow: hidden;
}

#buildthelook #prod-pages .inner {
	width: 555px;
}

#buildthelook #prod-pages #prod-list li .prod-img a.prod-img-link:hover {
	background: transparent url(/images/buildthelook/prod-btn-add-ie6.png) center no-repeat;
}
#buildthelook #prod-pages #prod-list li.selected .prod-img a.prod-img-link:hover {
	background: transparent url(/images/buildthelook/prod-btn-remove-ie6.png) center no-repeat;
}
#buildthelook #prodbar #selected-prods li a.selected-prod-link:hover {
	background: transparent url(/images/buildthelook/btn-remove-ie6.png) center no-repeat;
}
#buildthelook #prodbar #past-prods li a.past-prod-link:hover {
	background: transparent url(/images/buildthelook/history-btn-add-back-ie6.png) center no-repeat;
}
#buildthelook #prod-pages .pagination li.next-page, #buildthelook #prod-pages .pagination { display: inline; }
#buildthelook #history .prevBase, #buildthelook #history .nextBase { margin-bottom: 0px; padding-bottom: 6px; }

.buy-look { position: absolute !important; zoom: normal !important; top: 500px !important;  }
#buildthelook .ptooltip { background-image: url(/images/tooltip/tt-left-bottomcap-ie6.png); }
#buildthelook .ptooltip .topcap { background-image: url(/images/tooltip/tt-left-topcap-ie6.png); }
#buildthelook .ptooltip .tt-wrap { background-image: url(/images/tooltip/tt-left-bg-ie6.png); }
#buildthelook .ptooltip .detail-arrow { background-image: url(/images/tooltip/tt-left-arrow-ie6.png); }

#buildthelook .buy-look #checkout-prod-list { zoom: 1; }
#buildthelook .buy-look .inner { width: 761px; }
#buildthelook .buy-look #buy-footer { width: 756px; }
#buildthelook .buy-look #checkout-prod-list li { display: block; width: 100%; clear: left; }
#buildthelook .buy-look { background-image: url(/images/buildthelook/atc-bottomcap-ie6.png); }
#buildthelook .buy-look .top-cap { background-image: url(/images/buildthelook/atc-topcap-ie6.png); }
#buildthelook .buy-look #checkout-close { background-image: url(/images/buildthelook/atc-closebtn-ie6.png); }

