.pr-snippet-wrapper {background: #FFF;}
.pr-contents {background-color:#FFF; border-style: none; padding:0px;}
.pr-snapshot-body {padding:0px;}
.pr-snapshot-head {background-image:url(); padding:0px;}
.pr-snapshot-head-wrapper {padding:0px;}
