/******************************************\
 *             Reset Styles               *
\******************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, input, button {
	margin: 0;
	padding: 0;
	border: none;
	vertical-align: top;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 9pt;
	color: #333;
	padding-top: 43px; background: url(/images/logo-on-white.png) no-repeat right top;
}
p, ul, ol, dl, table { padding-bottom:15px; }
p, td, h1, h2, h3, h4, h5, h6, li, input, select, th, td { line-height:1.2; }
h1, h2, h3 { color: #000; font-weight: bold !important; font-family: Helvetica, Arial, sans-serif !important; }
h1 {
	font-size:  18pt;
}
h2 {
    font-size: 13pt;
}
h3 {
    font-size: 10pt;
}
a { color: #000; text-decoration: none; }
fieldset {
    border: none;
}
legend { display: none; }
ul { overflow: auto; padding-left: 30px; }
select { border: 1px solid #333 !important; margin-bottom: 5px; position: relative; top: -3px; }
#header, #footer, .noprint, #prodTools, #tabs-prod, img.zoom, .util, #add-to-cart, .quantity, #quantityContainer, #mainProductSwatches, #share-products, #build-look, .print, .return-to-shopping, #secure-logos {
	display: none;
}
#main-container { border-top: 1px solid #d4ddea; padding-left: 0; padding-bottom: 0; padding-top: .5em; }
#tabset dt { font-size: 10pt; font-weight: bold; }
.template_12 {
	float: none;
	margin: 0;
	width: 100%;
}
#zoom {
    background: none !important;
}
#moreViews {
	float: left;
	list-style: none;
	overflow: auto;
	width: 90%;
}
#moreViews li {
	float: left;
	margin: 0 10px 10px 0;
}
.aside h2 { padding-bottom: 15px; }

/* Breadcrumbs */

#breadcrumbs { position: relative; top: -30px; }
#breadcrumbs ul { overflow: hidden; padding: 0; margin: 0; }
#breadcrumbs ul li { background: url(/images/li-bg.png) no-repeat right 6px; float: left; padding: 0px 8px 0 5px; height: 20px; display: block; text-transform: none; font-size: 8pt; }

/* Peacocks */

a#logo {display: block;}
#content {display: block; background: #fff;}

/* Product Page */

#product h1 { display: none; }
#product #controls, #product #product-tip, #product #recent-history { display: none; }
#product #product-image { float: left; margin-right: 25px; border: 1px solid #bcbec0 }
#product-information .product-title { display: block; }
#product-information .product-number { color: #808284; }
#product-information .money { padding-bottom: 15px; font-size: 18px; font-weight: bold; color: #58595b; }
#product-information .money .amount { padding-right: 3px; }
#product-information .money .was-price { color: #999; font-size: 11px; vertical-align: baseline; font-weight: normal; white-space: nowrap; }
#product-information .money .good-until { color: #999; margin: 0; padding: 0; font-size: 11px; vertical-align: baseline; font-weight: normal; }
#product-information .promotions { color: #9f1731; font-weight: bold; }
#product-information .promotions li { padding-bottom: 10px; }
#product-information .details { color: black; font-size: 10px; font-weight: normal; padding-left: 2px; }

#product .aside.right .products { list-style: none outside none; margin: 0; padding: 0; }
#product .aside.right .products .hproduct { float: none; padding: 0; border-right: none; border-bottom: none; text-align: center; width: 120px; height: auto; float: left; padding-right: 10px; }
#product .aside.right .products .hproduct * { padding: 0; }
#product .aside.right .products .hproduct .fn { display: block; font-weight: bold; line-height: 1; }
#product .aside.right .products .hproduct .was-price, #product .aside.right .products .hproduct .good-until { color: #808284; }

/* Receipt */

table.review, table.summary, table#billing-summary { width: 100%; }
table.review th, table.summary th, table#billing-summary th { text-align: left; }
table.review th.qty { width: 10%; }
table.review th.description { width: 40%; }
table.review th.availability { width: 30%; }
table.review th.price { width: 10%; }
table.review th.total { width: 10%; }

table.summary th, table#billing-summary th { width: 15%; }

.cost-summary dt { font-weight: bold; padding-top: 5px; }

/* Order History */

#history { width: 100%; }
#history th, #history td { text-align: left; border-bottom:1px solid #E6E7E8; padding: 10px 0px; }
#history .order-date, #history .order-number  { width: 15%; padding-right: 5%; }
#history .destination {width: 30%; padding-right: 5%; }
#history .order-status { width: 25%; }

/* Order History Detail */
#order-details .order-details { font-weight: bold; font-size: 13pt; color: #58595b; border-bottom: 1px solid #e6e7e8; padding-bottom: 10px; margin-bottom: 10px; overflow: hidden; }
#order-details .order-details p { float: left; padding-right: 20px; padding-bottom: 0; }
#order-details .info-section { display: inline-block; padding-bottom: 40px; color: #58595b; width: 23%; padding-right: 2%; }
#order-details .info-section.last { padding-right: 0; }
.cost-summary dt { float: left; clear: left; font-weight: normal; padding: 0; }
.cost-summary dd { text-align: right; float: right; clear: right; }
.cost-summary .total { font-weight: bold; padding-top: 10px; padding-bottom: 0; }

#order-details #details th, #order-details #details td, #order-details #returns th, #order-details #returns td { text-align: left; }
#order-details #details th.qty, #order-details #returns th.qty { padding-right: 5%; width: 5%; }
#order-details #details th.item, #order-details #returns th.item { padding-right: 5%; width: 45% }
#order-details #details th.price, #order-details #returns th.price { padding-right: 5%; width: 5%; text-align: right; }
#order-details #details th.status, #order-details #returns th.status { padding-right: 5%; width: 25%; }
#order-details #details .shipping-method, #order-details #details .status, #order-details #returns .shipping-method, #order-details #returns .status { padding-left: 60px; }
#order-details #details th.shipping-method, #order-details #returns th.shipping-method { width: 15%; }
#order-details #details td.price, #order-details #returns td.price, #wishlist #list td.price { font-weight: bold; font-size: 13px; color: black; padding-right: 0; text-align: right; }
#order-details #details .photo, #order-details #returns .photo { float: left; display: block; padding-right: 20px; }
#order-details .buttons { display: none; }
