#map-shadow { background: url(/images/store-locator-shadow.png) no-repeat left bottom; height:10px; left:20px; position:absolute; top:80px; width:930px; z-index:100; }
#store-locator #main-content { margin-top: 50px; width: 100%; float: none; }
h1 { position: absolute; top: 32px; }

/*BEGIN SEARCH SECTION*/
#sl-body{height:660px; width:775px; position:relative; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#333; line-height:14px;}
v\:* {behavior:url(#default#VML);}

#sl-body {margin:0; padding:0; border:0;}
.fB{font-weight:bold; padding-top: 10px; }
.fB2 {display: inline; float: left; font-size: 37px;}
.fB3 {display: inline; float: left; font-size: 12px; font-weight: bold; line-height: 16px; margin-left: 10px !important; margin-top: -10px !important; text-transform: uppercase;}
#sl-body input{border:1px solid #adadad; z-index: 101;}
#sl-body p{padding:0; margin:0 40px 14px 0; font-size: 12px; line-height: 18px;}
#sl-body ul{ list-style: disc outside; margin-left: 10px; }
#sl-body ul li{margin-left:15px; padding:5px 0; vertical-align: middle;}
/*BEGIN SEARCH SECTION*/
#searchArea{ z-index:1; position:absolute; width:775px; top:0px; left:0px;
/*	background-image:url('/images/storeLocator/headi18N.gif'); US version */
/*	background-image:url('/images/storeLocator/headi18N.gif'); */
    height:149px;
/*	background-position:bottom; background-repeat:no-repeat;    */
}
	#searchArea .notInUs{ font-weight:bold; color:#686a67; position:absolute; right:11px; top:27px;}
	#searchArea .notInUs a{text-decoration:none; color:#0052b4;}
	#searchArea .locations{ font-weight:bold; color:#848484; position:absolute; left:50px; top:66px; width:63px;}
	#searchArea .shipToStoreLocation{ font-weight:bold; color:#848484; position:absolute; left:154px; top:66px; width:83px;}

	/* BEGIN: controls */
	#controls{position:absolute; top:-43px; left:525px; height: 50px; padding: 0; width: 410px; z-index: 101; }
		.control{position:absolute; background-repeat:no-repeat; height:27px; width:27px; cursor:pointer;}
		.panLeft{display: none;}
		.panRight{display: none;}
		.panUp{display: none;}
		.panDown{display: none;}
		.recenter{display: none;}

		.zoomIn, .zoomInOff{ z-index:2; top:10px; left:238px; background-image:url('/images/storeLocator/zoomIn.png'); }
		.zoomInOff { cursor:auto; }
		.zoomOut, .zoomOutOff { z-index:2; top:10px; left:374px; background-image:url('/images/storeLocator/zoomOut.png'); }
		
		.extra-field { background: url(/images/storelocator-labels-sprite.png) no-repeat; height: 44px; top: 4px; position: absolute; cursor: pointer; }
		#zoom-label { background-position: 0 0; width: 75px; left: 167px; top: -5px; }
		#return-to-last { background-position: 8px -58px; width: 136px; left: 4px; padding: 0 10px; border-left: 1px solid #CCC; border-right: 1px solid #CCC; }
		#return-to-last.active { background-position: 8px -108px; width: 136px; }

		/*BEGIN slider*/
		.slider{position:absolute; width:127px; top:13px; left:252px; height:27px;
			background: url('/images/storeLocator/slider.png') no-repeat;
		}

		.slider .marker{z-index:3; cursor:pointer; position:absolute;
			top:-3px; left:0; width:12px; height:27px;
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/storeLocator/marker.png', sizingMethod='crop');
		}
		html>body .slider .marker{background: url('/images/storeLocator/marker.png') no-repeat;}
		/*END slider*/

		.cmap{display: none;}
		.csat{display: none;}
		.chybrid{display: none;}

		.chybrid, .csat, .cmap{color:#0374c7; line-height:27px; text-align:center; height:27px; width:66px; top:0px; background-image:url('/images/storeLocator/buttonBack.jpg');}
		.chybridOn, .csatOn, .cmapOn{cursor:auto; font-weight:bold;}



	#frm{position:absolute; margin:0px; padding:0px; top:-35px; left:230px; width: 300px; }
		#fldAddress{position:absolute; width:322px; top:20px; left:8px; font-size:10px; padding:1px 0 1px 1px;}
		#fldCity{position:absolute; width:234px; top:20px; left:348px; font-size:10px; padding:1px 0 1px 1px;}
		#fldState{position:absolute; width:32px; top:20px; left:588px; font-size:10px; padding:1px 0 1px 1px;}
		#fldZip{position:absolute; width:48px; top:20px; left:648px; font-size:10px; padding:1px 0 1px 1px;}
		#fldLocation{font-size: 11px; position:absolute; top:0px; left:0px; padding:3px 10px 0; width: 250px; color: #999; }
		#searchBtn{position:relative; background: url(/images/button-sprite.png) no-repeat 0 -936px; height: 26px; width: 26px; left: 260px; top: -2px; cursor:pointer; z-index: 102; }

/*END SEARCH SECTION*/

/*BEGIN MAP SECTION */
#map{z-index:1; height:630px; width:680px; position:absolute; top:5px; left:235px; }

/*bubble*/
.mapBubbleContainer{z-index:200; position:absolute; width:270px; height:195px;}
.mapBubble{width:270px; height:195px; background-repeat:no-repeat;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/storeLocator/peac-bubbleBack.png', sizingMethod='scale');
}
html>body .mapBubble{background-image:url('/images/storeLocator/peac-bubbleBack.png'); background-repeat:no-repeat; }
	.mapBubble .closeIt{position:absolute; top:16px; left:200px; width:25px; height:25px; z-index: 201;
		background-image:url('/images/storeLocator/peac-bubble-close.png'); cursor:pointer; background-repeat:no-repeat;
	}
	.mapBubble .tab1, .mapBubble .tab2{position:absolute; top:0px; left:0px;
		height:195px; width:270px;
	}
	.mapBubble .tab2{display:none;}
	.mapBubble .hitArea1, .mapBubble .hitArea2{cursor:pointer; position:absolute;
		top:16px; height:20px; background-repeat:no-repeat; z-index: 201;
	}

	.mapBubble .hitArea1{left:13px; width:75px; display:none; background-image:url('/images/storeLocator/peac-bubble-info.png');}
	.mapBubble .hitArea2{left:95px; width:51px; background-image:url('/images/storeLocator/peac-bubble-hours.png');}
	.mapBubble .hitArea2Inactive{top:0px; height:34px; background-repeat:no-repeat; position:absolute; left:95px; width:51px; background-image:url('/images/storeLocator/bubble_hours_off.gif');}

	.mapBubble .bubbleContent{padding:10px 10px 0 20px !important; line-height: 1.2; height: 107px; margin-top: 36px; overflow: auto; width: 192px; }

	.mapBubble .storeName{font-weight:bold;}
	.mapBubble .directions{ text-decoration:none; font-weight:normal; color:#6f90b8; cursor:pointer; padding-left: 5px; }
	.mapBubble .shipToStore{background-image:url('/images/storeLocator/shipToStore.gif'); background-repeat:no-repeat; height:34px; width:106px;}
	.mapBubble .space{ height:7px; font-size:7px; line-height:7px;}
	.mapBubble .discl{font-weight:normal; font-size: 9px;}
/*END MAP SECTION*/

/*BEGIN LIST SECTION */
#resultListHolder{z-index:1; position:absolute; top:5px; left:0px;
	width:228px; height:480px;
	/* background-image:url('/images/storeLocator/rs_listBack.gif');
	background-repeat:no-repeat; */
}

	#ResultHeader{position:absolute; z-index:2; left:0px; top:10px;
		color:#848484; height:40px; width:219px; padding-top: 20px;
	}

	#ResultList{z-index:1; position:absolute; top:67px; left:0px;
		height:546px; overflow:hidden; width:220px;
	}
	#ResultList p {padding-top: 30px;}
		#ResultList .paddMsg{padding:12px 12px 0 0;}
		#ResultList #recSlider{position:relative;}
			#ResultList  .rec{border-top: solid 1px #e7e7e7; padding: 0 0 10px 5px;}
			#ResultList  .rec.on{background-color:#f3f3f3;}
				#ResultList .rec .storeName{font-weight:bold; padding-top:8px;cursor:pointer;}
				#ResultList .rec .miles{font-weight: bold; display: inline;}
				#ResultList .rec .info{color:#0374c7; cursor:pointer;}
				#ResultList .rec .mapLink a { color:#0052b4; cursor:pointer;}


	#ResultFooter{position:absolute; z-index:2; top:613px;
		color:#848484; height:25px; line-height:25px; width:220px; border-top: 1px solid #E7E7E7; }

		#ResultFooter .nav{line-height:13px; height:13px;
			position:absolute; top:6px; right:6px;}
		#ResultFooter #backBtn{ padding-right:6px; display:inline; color:#0374c7; border-right:1px solid #a8a8a8; cursor:pointer;}
		#ResultFooter #backBtn.off{cursor:auto; color:#a8a8a8}
		#ResultFooter #nextBtn{ padding-left:6px; display:inline; color:#0374c7; cursor:pointer;}
		#ResultFooter #nextBtn.off{ cursor:auto; color:#a8a8a8}

		#ResultFooter .status{position:absolute; top:6px; left:0px; line-height:13px; height:13px;}
		#ResultFooter .status span{font-weight:bold;}

/*END LIST SECTION */


/*BEGIN LOADER SECTION*/
#sl_loader{display:none;
}
/*END LOADER SECTION*/

/*BEGIN Error SECTION*/
#errorBox{display:none; position:absolute; z-index:2; height:35px; width:195px;
background-repeat:no-repeat; font-weight:bold; color:#cc0000;
top:340px; left:364px; text-align:center; padding:20px;
 filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/storeLocator/error.png', sizingMethod='crop');
}

html>body #errorBox{ background-image:url('/images/storeLocator/error.png')}
/*END Error SECTION*/

/* Tooltip */
.store-locator #ptooltip { top: 180px; left: 505px; display: none; z-index: 103; }
.store-locator #ptooltip.show { display: block; }
.store-locator .ptooltip.left .tt-wrap .tt-inner { background-position:-5px -90px; }

/* New for Peacocks */
.store-locator #content {padding-left: 34px; padding-top: 25px; position: relative;}
.store-locator h2.welcome {font-size: 16px; padding: 10px; font-weight: normal;}
.store-locator .storeInfo {padding-top: 10px !important;}
.store-locator .storeName2 {font-weight: bold; text-transform: uppercase; cursor: pointer; }
.store-locator .storeInfo .space {display: none;}
.store-locator .storeInfo .address {white-space: nowrap; }
.store-locator .storeHours { cursor: pointer; padding-left: 5px; }
.store-locator .miles, .store-locator .directions { display: inline; }
.store-locator .locationCode { display: none; }

