/* ------------------------------------------------------
Wish List
------------------------------------------------------ */

#wishlist #content { padding: 40px 30px 20px 30px; }
#wishlist #main-content { width: 100%; padding: 20px 0; clear: left; }

h1 { float: left; padding-bottom: 0; }
#wishlist #no-items-in-wishlist { padding: 80px 0; text-align: center; width: 100%; font-size: 36px; color: #cbcbcb; }
#wishlist h4, #wishlist h4 a { color:#58595B; font-size: 13px; padding-bottom: 3px; }

#wishlist .top-links { float: left; font-family: Helvetica, Arial, sans-serif; font-size: 11px; padding: 18px 0 0 113px; vertical-align: baseline; }
#wishlist a.top-links.last { padding-left: 132px; }


#wishlist #list { font-size: 11px; }
#wishlist #list th, #wishlist #list h4, #wishlist #list h4 a, #wishlist #list .price, #wishlist #list span.availability, #wishlist #list .date-added {font-size: 12px; }
#wishlist #list span.availability { font-weight: bold; padding-bottom:3px; text-transform: uppercase; }
#wishlist #list { left: 0; margin-left: 0; }
#wishlist #list th.qty, #wishlist #list td.qty { width: 150px !important; }
#wishlist #list th.view, #wishlist #list td.view { width: 60px !important;}
#wishlist #list th.description, #wishlist #list td.description { width: 270px !important; }
#wishlist #list th.availability, #wishlist #list td.availability { width: 150px !important; }
#wishlist #list th.date-added, #wishlist #list td.date-added { width: 125px !important; }
#wishlist #list th.price, #wishlist #list td.price { width: 65px !important; }
#wishlist #list th, #wishlist #list td { padding-right: 20px; padding-left: 0; overflow: hidden; }
#wishlist #list .first {  }
#wishlist #list .last { padding-right: 0; }

/* make the actual form buttons look and behave like normal hyperlinks */
#wishlist #list form form { margin: 0; padding: 0; }
#wishlist #list input.move-to-cart, #wishlist #list input.remove-from-wishlist, #wishlist #list input.update-quantity { margin: 0; padding: 0; padding-bottom: 5px; color: #748DB5; text-indent: 0; text-decoration: none; cursor: pointer; font-size: 11px; }

#wishlist #list input { right: 0; }
#wishlist #list input.qty { margin-bottom: 20px; }
#wishlist #list .qty a { display: block; padding-bottom: 5px; }
#wishlist .buttons { padding: 0 10px; overflow: hidden; }
#wishlist .buttons li { float: left; }
#wishlist .buttons li.last { float: right; }
#wishlist .cart-controls { color: #748DB5; cursor: pointer; margin-bottom: 5px; }
#wishlist #list td.price { color: black; font-weight: bold; padding-right: 0; text-align: right; }
#wishlist #list tbody td { padding-bottom: 15px; }
#wishlist #list .p-v span {font-size: 11px; }
#wishlist #list .product-details { padding-bottom: 30px; overflow: hidden; }
#wishlist #list .product-details li { float: left; padding-right: 3px; border-right: 1px solid #666; margin-right: 3px; white-space: nowrap; }
#wishlist #list .product-details li.last { border: none; }
